.principal {
    background-color: var(--bege-fundo);
    border: 5px solid var(--bege-fundo);
    border-radius: 30px;
}

.about-us {
    margin-top: 2%;
    margin-bottom: 3%;
    word-spacing: -2px;
}

.about-us h1 {
    font-size: 42px;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    word-spacing: -10px;
    color: var(--amarelo-escuro);
    text-shadow: -1px 0 #DBAC51, 0 1px #DBAC51,
    1px 0 #DBAC51, 0 -1px #DBAC51;
}

.about-us p {
    font-size: 22px;
    font-weight: 700;
    color: var(--marrom);
    font-family: 'Comic Neue', cursive;
}

.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    margin-left: 30%;
    max-width: 1200px !important;
}

.historia__texto {
    background-color: var(--marrom);
    width: 50%;
    padding: 25px;
    margin-right: 85%;
    position: absolute;
    z-index: 2;
    text-align: left;
}

.historia__texto h2 {
    color: var(--amarelo-escuro);
    font-weight: 300;
    text-transform: lowercase;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 32px;
}

.historia__texto p {
    color: var(--bege-fundo);
    font-size: 18px;
    font-family: 'Comic Neue', cursive;
    word-spacing: 1px;
}

.historia__img {
    z-index: 1;
    width: 40%;
}

.historia__img img {
    width: 100%;
    height: auto;
    border: 1px solid var(--marrom);
    border-radius: 10px;

}

/* MAIS SOBRE */
.mais__sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    max-width: 1600px !important;
    margin-top: 50px;
    margin-left: 28px;
    width: 1500px;
    height: 830px;
    background-image: linear-gradient(to left top, #fcb60d, #fdb523, #feb531, #ffb43d, #ffb447, #ffb447, #ffb447, #ffb447, #ffb43d, #feb531, #fdb523, #fcb60d);
}

.mais__sobre__img {
    z-index: 1;
    width: 35%;
    height: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mais__sobre__img img {
    width: 400px;
    height: 350px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 12px 5px 5px var(--marrom);
}

.mais__sobre__img img:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    transition: 1s ease;
}

#img_1 {
    
}

#img_2 {
    margin-left: 150px;
    margin-bottom: -50px;
}

#img_3 {
    margin-left: 400px;
}

.mais__sobre__texto {
    text-align: right;
    width:50%;
    position: absolute;
    background-color: var(--verde-medio);
    padding: 5% 2% 5% 5%;
    margin: 5% 0% 5% 40%;
    border-radius: 10px;
    box-shadow: 12px 5px 5px var(--marrom);
}

.mais__sobre .mais__sobre__texto:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease;
}

.mais__sobre__texto h3 {
    color: var(--amarelo-escuro);
    font-weight: 300;
    text-transform: none;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 32px;
}

#mais__sobre__titulo2 {
    margin-bottom: 5px;
    margin-top: -10px;
}

.mais__sobre__texto p {
    color: var(--bege-fundo);
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
    word-spacing: 1px;
    padding-left: 50px;
}

/* FUNCIONÁRIOS */
.funcionarios {
    width: 1500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.funcionarios h4 {
    font-size: 2.2em;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    word-spacing: -5px;
    color: var(--marrom-vinho);
    text-shadow: -1px 0 #DBAC51, 0 1px #DBAC51,
    1px 0 #DBAC51, 0 -1px #DBAC51;
    margin-top: 25px;
    text-align: left;
    margin-left: 35px;
}

.funcionarios__container {
    display: flex;
    justify-content: space-around;
}

.funcionaria {
    margin-top: 10px;
    margin-bottom: 15px;
}

.funcionaria img {
    width: 85%;
    height: 65%;
    border: 4px solid var(--marrom);
    border-radius: 50%;
}

.funcionaria__nome {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1.8em;
    color: var(--marrom);
    font-weight: 700;
}

.funcionaria__sobre {
    font-family: 'Comic Neue', cursive;
    font-size: 1.5em;
    color: var(--verde-medio);
    font-weight: 700;
}