
  @import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.main_itens {
  display:flex;
}


body {
    background-color:rgb(243, 235, 226);
    font-family: 'Sulphur Point', serif;
  }
  
  ul {
    list-style: none;
  }
  
  h2 {
    font-family: 'Agbalumo', serif;
    text-transform: capitalize;
    color: rgb(190, 152, 61);
  }
  
  section {
    max-width: 400px;
    margin: 0 auto;
  }
  
  section {
    margin-bottom: 24px;
  }
  
  section h2 {
    background-color:rgb(51, 78, 37);
    padding: 8px 16px;
    text-align: center;
  
    margin-bottom: 24px;
    margin-top: 15px;
    font-size: 18px;
  }
  
  /* ANTIGO ul li */
  /* MODIFICADO PARA NÃO AFETAR O MENU DO CABEÇALHO */
  .itens li {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  li .details {
    max-width: 219px;
  }
  
  .details h3 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 10px;
    text-transform: capitalize;
    word-spacing: -5px;
  }

  .price {
    line-height: 10px;
    font-size: 14px;
    margin-left: 10px;
    color: brown;
    text-align: end;
  }
  
  .details p {
    color: rgba(41, 27, 27, 0.6);
    font-size: 14px;
    line-height: 21px;
  }

/* SEPARAÇÃO DO CARDÁPIO EM BLOCOS */
  .main_itens {
    display: flex;
    flex-direction: column; /* Colunas principais */
}

.linha_1,
.linha_2 {
    display: flex;
    justify-content: space-between; /* Distribui os elementos ao longo da linha */
}

.produtos {
    width: 30%; /* Ajuste conforme necessário */
  
}