body {
    overflow-x: hidden;
}

/* CARROSSEL DE SLIDES */
.carrossel-container {
    overflow: hidden;
    width: 100%;
    margin: auto;
    position: relative;
    height: 70vh;
}

.carrossel-wrapper {
    display: flex;
    transition: transform 0.5s;
}

.carrossel-slide {
    flex: 0 0 100%;
    display: flex;
    height: 81vh;
}

.bannertexto {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.bannerimagem {
    width: 45%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.bannerimagem img {
    max-width: 100%;
    height: 95%;
    object-fit: cover;
}

.carrosel-bullets {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
}

.bullet.active {
    background-color: black;
}

.links__acesso {
    background-color: rgb(51, 78, 37); 
    display: inline-block;
    padding: 8px 12px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.links a {
    color: var(--amarelo-escuro);
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
    background-color: rgb(51, 78, 37);
    color: white;
    border-radius: 8px;
}