body {
    background-color: #f3ebe2;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    border: px black solid;
}

.container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(60, 88, 45);
    height: 120px;
    border: 1px solid black;
}

.container__header__logo {
    width: 500px; 
    height: 120px;
}

.logo_img {
    padding-left: 25%;
    width: 100%;
    height: 100%;
}

.container__header__nome {
    font-size: 32px;
}

.menu {
    list-style: none;
    margin: 0;
}

.menu__item {
    background-color: rgb(51, 78, 37); 
    display: inline-block;
    margin-right: 10px;
    border-radius: 12px;

}

.menu__item a {
    text-decoration: none;
    color: rgb(190, 152, 61);
    padding: 8px 16px; 
    display: block;
    box-sizing: border-box;
}

.menu__item a:hover {
    background-color: rgb(51, 78, 37);
    color: white;
    border-radius: 8px;
}

.carrossel-container {
    overflow: hidden;
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carrossel-slide {
    display: none;
    position: static;
    width: 100%;
}

.bannertexto {
    padding-top: 32px;
}

img {
    width: 50%;
    height: 50%;
}

.menu {
    display: flex;
}

.menu-item {
    list-style: none;
    margin-right: 24px;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

#links__acesso1 {
    background-color: rgb(51, 78, 37);
}

.links a {
    color: black;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 88, 45);
    height: 120px;
    border: 1px solid black;
    flex-direction: column;
}

.contato__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contato__redes h5, .contato__redes p, .contato__redes a {
    margin: 0;
}

.contato__redes a {
    color: black;
    text-decoration: none;
}

.contato__redes a:hover {
    text-decoration: underline;
}