.carrossel-container {
    overflow: hidden;
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carrossel-slide {
    display: none;
    position: static;
    width: 100%;
}

.bannertexto {
    padding-top: 32px;
}

img {
    width: 50%;
    height: 50%;
}

.menu {
    display: flex;
}

.menu-item {
    list-style: none;
    margin-right: 24px;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

#links__acesso1 {
    background-color: rgb(51, 78, 37);
}

.links a {
    color: black;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 88, 45);
    height: 120px;
    border: 1px solid black;
    flex-direction: column;
}

.contato__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contato__redes h5, .contato__redes p, .contato__redes a {
    margin: 0;
}

.contato__redes a {
    color: black;
    text-decoration: none;
}

.contato__redes a:hover {
    text-decoration: underline;
}