.container {
    text-transform: capitalize;
}

.box{
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 032);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    width:75%;
    margin-left: 175px;
    margin-top: 1%;
    padding:1.5%;
    background-color: var(--bege-fundo);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--marrom-vinho); /*COR LETRAS*/
    font-size: 14px;
    font-family: 'Archivo Black', sans-serif;
    
    }

    .pedido__clientes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:70vw;
        gap: 75px;
        margin-top: 10px;
    }
   
    fieldset {
    border: 2.5px solid var(--amarelo-escuro);
    border-radius: 30px;
    width:30%;
    }
    fieldset legend {
        font-family: 'Archivo Black', sans-serif;
        font-size: 32px;
        text-transform: capitalize;
        word-spacing: -1px;
        color: var(--marrom-vinho);
}

    .inputBox {
    position: relative;
    }
    
    .nome, .telefone, .data_entrega, .endereco, .numero, .cidade {
    background: none;
    border: none;
    border-bottom: 1.8px solid var(--amarelo-escuro);
    outline: none;
    font-size: 16px;
    width: 100%;
    letter-spacing: 2px;
    color: var(--verde-medio);
    margin-bottom: 20px;
    font-family: 'Archivo Black', sans-serif;
    font-weight:lighter;
    }
    
    .labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5;
    }

    .nome:focus ~ .labelInput,
    .nome:valid ~ .labelInput,
    .telefone:focus ~ .labelInput,
    .telefone:valid ~ .labelInput,
    .endereco:focus ~ .labelInput,
    .endereco:valid ~ .labelInput,
    .numero:focus ~ .labelInput,
    .numero:valid ~ .labelInput,
    .cidade:focus ~ .labelInput,
    .cidade:valid ~ .labelInput {
      top: -20px;
      font-size: 14px;
      color: var(--marrom);
      font-weight: 700;
      font-family: 'Comic Neue', cursive;
    }

    .data_entrega:focus + .labelInput,
    .data_entrega:not(:placeholder-shown) + .labelInput {
      transform: translateY(-20px);
      font-size: 12px;
    }

    #submit{
    background-image: linear-gradient(to right, rgb(0, 138, 91)  , rgb(0, 161, 94));
    width: 30%;
    border: none;
    padding: 15px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    }
    #submit:hover{
    background-image: linear-gradient(to right,rgb(0, 138, 1), rgb(0, 138, 0));
    }

/* PEDIDOS ITENS */
.pedido__itens__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2%;
  gap: 7%; /*Espaçamento entre as colunas*/
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  text-align: left;
}

.titulos__itens {
  margin-bottom: 15px;
}

.containerDiferente {
  gap: 15px;
  margin-top: 15px;  
}

.container__itens {
  display: flex;
  gap:5px;
}

.titulos__itens__minidoces {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 15px;
}
