body {
    background-color: #f3ebe2;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    border: 2px black solid;
}

.container-menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.carrossel-container {
    overflow: hidden;
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
}

.carrossel-slide {
    display: none;
    position: static;
    width: 100%;
}

img {
    width: 50%;
    height: 50%;
}

.menu {
    display: flex;
}

.menu-item {
    list-style: none;
    margin-right: 24px;
}

.menu-item a {
    text-decoration: none;
    color: black;
}


























.links {
    
}

.links__acesso {
    
}

#links__acesso1 {
    background-color: rgb(51, 78, 37);
}

.links a {
    color: black;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 20px;
}

.contato__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contato__redes h5, .contato__redes p, .contato__redes a {
    margin: 0;
}

.contato__redes a {
    color: black;
    text-decoration: none;
}

.contato__redes a:hover {
    text-decoration: underline;
}