body {
    background-color: #f3ebe2;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    border: 2px black solid;
}

.container-menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.carrossel-container {
    overflow: hidden;
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
}

.carrossel-slide {
    display: none;
    position: static;
    width: 100%;
}

img {
    width: 50%;
    height: 50%;
}

.menu {
    display: flex;
}

.menu-item {
    list-style: none;
    margin-right: 24px;
}

.menu-item a {
    text-decoration: none;
    color: black;
}